/* setting color variables */
/* the theme coloring was pulled from kuler.adobe.com */
/* and is called 'JW Fashion' */
/*
$base-color: #625D55;
$dark-blue: #1E2F39;
$lite-blue: #375351;
$dark-gray: #A5AD86; //the base color is a darker gray but it is the base :)
$lite-gray: #CCCFBB;
*/
/* setting color variables */
/* the theme coloring was pulled from kuler.adobe.com */
/* and is called 'CoolGrays' */
/* line 22, ../sass/site.scss */
body {
  font-family: arial;
  font-size: 11px;
  background-color: #686e75;
}

/* line 23, ../sass/site.scss */
.clear {
  clear: both;
}

/* remove the list style */
/* line 25, ../sass/site.scss */
#nav {
  margin: 0;
  padding: 0;
  list-style: none;
  /* make the LI display inline */
  /* it's position relative so that position absolute */
  /* can be used in submenu */
  /* you can make a different style for default selected value */
  /* submenu, it's hidden by default */
}
/* line 33, ../sass/site.scss */
#nav li {
  float: left;
  display: block;
  width: 100px;
  background: #ccc;
  position: relative;
  z-index: 500;
  margin: 0 1px;
}
/* line 42, ../sass/site.scss */
#nav li a {
  display: block;
  padding: 8px 5px 0 5px;
  font-weight: 700;
  height: 25px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  color: #333;
  /* this is the parent menu */
}
/* line 53, ../sass/site.scss */
#nav li a:hover {
  color: #fff;
}
/* line 63, ../sass/site.scss */
#nav a.selected {
  color: #f00;
}
/* line 68, ../sass/site.scss */
#nav ul {
  position: absolute;
  left: 0;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
  /* display block will make the link fill the whole area of LI */
}
/* line 76, ../sass/site.scss */
#nav ul li {
  width: 100px;
  float: left;
  border-top: 1px solid #fff;
}
/* line 83, ../sass/site.scss */
#nav ul a {
  display: block;
  height: 15px;
  padding: 8px 5px;
  color: #666;
}
/* line 89, ../sass/site.scss */
#nav ul a:hover {
  text-decoration: underline;
}

/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
/* line 100, ../sass/site.scss */
* html #nav ul {
  margin: 0 0 0 -2px;
}

/* line 104, ../sass/site.scss */
.error {
  color: red;
}

/* line 108, ../sass/site.scss */
div#header {
  height: 110px;
  width: 1000px;
  margin-left: 150px;
  padding: 1em 1em 1em 1em;
  background-color: #aac19b;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px;
}
/* line 123, ../sass/site.scss */
div#header div#top_header div#user_links {
  float: right;
  font-size: 15pt;
  text-align: right;
  width: 30%;
}
/* line 130, ../sass/site.scss */
div#header div#top_header div#txtps_header_image {
  float: left;
  width: 30%;
}
/* line 135, ../sass/site.scss */
div#header div#top_header div#top_header_text {
  text-align: center;
  float: right;
  width: 35%;
}
/* line 142, ../sass/site.scss */
div#header div#header_menu {
  clear: both;
  background-color: blue;
}

/* line 148, ../sass/site.scss */
div#header, h3#home_head {
  clear: both;
}

/* line 153, ../sass/site.scss */
div#footer {
  clear: both;
  width: 1000px;
  margin-left: 150px;
  padding: 1em 1em 1em 1em;
  height: 200px;
  background-color: #aac19b;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottmright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px;
}
/* line 169, ../sass/site.scss */
div#footer #tacc_footer_image,
div#footer #footer_text {
  float: left;
  width: 30%;
  position: relative;
}
/* line 175, ../sass/site.scss */
div#footer #utexas_footer_image {
  float: right;
  width: 30%;
  position: relative;
  text-align: right;
}
/* line 182, ../sass/site.scss */
div#footer #footer_text {
  text-align: center;
}

/* line 188, ../sass/site.scss */
hr {
  height: 1px;
  color: #333333;
}

/* line 193, ../sass/site.scss */
div.site_body {
  width: 1000px;
  margin-left: 150px;
  padding: 1em 1em 1em 1em;
  clear: both;
  background-color: #e4f1d8;
  overflow: hidden;
  border-left: 1px solid;
  border-right: 1px solid;
}
/* line 205, ../sass/site.scss */
div.site_body div#recent_problems,
div.site_body div#recent_collections,
div.site_body div#recent_generators {
  width: 30%;
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
}
